:root {
    --top-bar-color: white;
    --menu-color: #3867D6;
    --logo-color: #3867D6;
    --top-bar-text-color: #31456A;
    --text-color1: #7989A3;
    --text-color2: #31456A;
    --font-size1: 25px;
    --font-size2: 48px;
    --font-size3: 20px;
    --table-th-height: 50px;
    --canvas-size: 213px;
    --left-chart-margin: 7px;
    --right-chart-margin: 14px;
}

@font-face {
    font-family: NotoSansKR-Regular;
    src: url(/font/NotoSansKR-Regular.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: NotoSansKR-Regular;
    font-weight: 600;
}

body,
html {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: transparent;
}

/* ======================전체 판넬====================== */
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

/* ======================상단바====================== */
#top_bar {
    position: fixed;
    top: -60px;
    left: 0;
    z-index: 999;
    transition: all 0.3s;
    width: 100%;
    height: 60px;
    background: var(--top-bar-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 상단바 활성 */
#top_bar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--top-bar-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--top-bar-color);
}

.top_logo {
    min-width: 200px;
}

.logo_item {
    margin-left: 18px;
    font-size: 1.8rem;
    line-height: 60px;
    color: var(--logo-color);
}

.menu {
    display: flex;
    justify-content: end;
    align-items: center;
    min-width: 600px;
    margin-right: 8px;
    /*왼쪽 마진이 18이나 menu_item 양옆마진을 10 줬으므로 오른쪽 마진은 8만 줌 */
}

.menu_item {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--top-bar-text-color);
    border: var(--menu-color) 1px solid;
    border-radius: 6px;
    margin: 0px 10px;
}

.menu .active {
    width: 100px;
    height: 40px;
    background: var(--logo-color);
    color: var(--top-bar-color);
    border-radius: 6px;
    border: var(--logo-color) 1px solid;
    line-height: 60px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: none;
}

/* ======================비디오====================== */
video {
    display: none;
}

/* ======================메인 판넬====================== */
.main_panel {
    position: absolute;
    width: 100%;
    height: 100%;
}

.bg_panel {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* ======================호기 변경 페이지====================== */
#change_mc {
    position: fixed;
    top: -999px;
    left: 25%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    transition: all 0.3s;
    width: 50%;
    height: 85%;
    background-color: var(--top-bar-color);
    border-radius: 18px;
    z-index: 999;
}

#change_mc.active {
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    z-index: 999;
}

.title_change_mc {
    width: 100%;
    height: 8vh;
    font-size: 1.7rem;
    padding: 2.2vh;
    color: var(--top-bar-color);
    background-color: var(--logo-color);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.box_change_mc {
    width: 100%;
    height: calc(100% - 8vh);
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn_change_mc {
    background: var(--logo-color);
    border-radius: 6px;
    width: 24%;
    margin: 2px;
}

.btn_text_change_mc {
    color: var(--top-bar-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

/* ======================/호기 변경 페이지====================== */

/* ======================메인 판넬====================== */
.main_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ======================메인-상단====================== */
.main_content .top_section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 67px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
    font-size: 25px;
}

.top1 {
    width: 18%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.top2 {
    width: 18%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.top3 {
    width: 18%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top4 {
    width: 16%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top5 {
    width: 12%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top6 {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top7 {
    width: 5.6%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .top_menu{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hamburger{
    width: 30px;
    height: 25px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    z-index: 999;
    margin-left: 20px;
}

.hamburger_item{
    width: 30px;
    height: 5px;
    background: var(--text-color2);
    border-radius: 3px;
} */

.top_th {
    color: var(--text-color1);
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.top_td {
    color: var(--text-color2);
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top_th {
    margin-right: 10px;
}

/* .th1 {
    width: 60px;
    margin-left: 25px;
}

.td1 {
    width: calc(100% - 70px);
    margin-left: 25px;
}

.th2 {
    width: 60px;
    margin-left: 25px;
}

.td2 {
    width: calc(100% - 70px);
    margin-left: 25px;
}

.th3 {
    width: 60px;
    margin-left: 25px;
}

.td3 {
    width: calc(100% - 120px);
    margin-left: 25px;
}

.th4 {
    width: 60px;
    margin-left: 25px;
}

.td4 {
    width: calc(100% - 70px);
    margin-left: 25px;
}

.th5 {
    width: 60px;
}

.td5 {
    width: calc(100% - 70px);
    margin-left: 25px;
}

.th6 {
    width: 60px;
    margin-left: 25px;
}

.td6 {
    width: 45%;
    margin-left: 25px;
}

.td7 {
    width: 100%;
} */

#show_change_mc {
    position: absolute;
    top: 20px;
    left: 865px;
    width: 20px;
    height: 40px;
    border: none;
    margin-left: 10px;
}

#show_change_mc div {
    color: var(--text-color2);
    font-size: 20px;
    background: transparent;
}

/* ======================메인-온도섹션(테이블)====================== */
.temp_panel {
    position: fixed;
    top: 67px;
    left: 0;
    width: 100%;
    height: calc(100% - 67px);
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    position: fixed;
    top: 67px;
    left: 0;
    width: 100%;
    height: calc(100% - 67px);
    border-collapse: collapse;
    table-layout: fixed;
}

/* th, tr, td{
    border: #31456A 1px solid;
} */

table th {
    width: 100%;
    height: var(--table-th-height);
    color: var(--text-color2);
}

table td {
    width: 100%;
    height: calc(100% - var(--table-th-height));
}

table th div {
    font-size: 25px;
    text-align: center;
}

table th .th_left {
    margin-left: var(--left-chart-margin);
}

table th .th_right {
    margin-right: var(--right-chart-margin);
}

/* ======================/메인-온도섹션(테이블)====================== */

/* ==========차트========== */
.chart {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

canvas {
    width: var(--canvas-size);
    height: var(--canvas-size);
}

#chart1 {
    height: calc(100% - 23px);
    margin-left: var(--left-chart-margin);
}

#chart2 {
    height: calc(100% - 23px);
    padding-left: 3px;
}

#chart3 {
    height: calc(100% - 23px);
    padding-right: 7px;
}

#chart4 {
    height: calc(100% - 23px);
    padding-right: var(--right-chart-margin);
}

#chart5 {
    height: calc(100% - 27px);
    margin-left: var(--left-chart-margin);
}

#chart6 {
    height: calc(100% - 27px);
    padding-left: 3px;
}

#chart7 {
    height: calc(100% - 27px);
    padding-right: 7px;
}

#chart8 {
    height: calc(100% - 27px);
    padding-right: var(--right-chart-margin);
}

.box_text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--canvas-size);
    height: var(--canvas-size);
}

.box_text1 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
}

.text1 {
    font-size: 48px;
    text-align: center;
}

.box_text2 {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}

.text2 {
    width: 20%;
    height: 50%;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    color: var(--text-color1);
    background: none;
    border: none;
}

.text3 {
    padding-top: 10px;
    text-align: center;
    color: var(--text-color1);
}

.text4 {
    width: 20%;
    height: 50%;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    color: var(--text-color1);
    background: none;
    border: none;
}

.text5 {
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    color: var(--text-color1);
}

.btn_convert {
    display: flex;
    flex-direction: column;
}

.btn_convert input {
    background: transparent;
    border: none;
    color: var(--text-color1);
    padding: 0px 5px;
}

.save_convert {
    position: fixed;
    top: 0;
    left: 1220px;
    padding: 20px 10px;
    color: var(--text-color1);
    z-index: 999;
    background: none;
    border: none;
    font-size: 20px;
}

@media (min-width: 1200px) {
    .wrapper {
        width: 1280px;
        height: 720px;
    }

    .main_content .top_section {
        position: fixed;
        top: 0;
        left: 0;
        width: 1280px;
        height: 67px;
    }

    .temp_panel {
        width: 1280px;
        height: calc(720px - 67px);
    }

    .temp_panel table {
        width: 1280px;
        height: calc(720px - 67px);
    }
}