:root {
    --panel-color: #f5f5f5;
    --box-color: #fff;

    --top-menu-width: 100px;
    --top-menu-height: 50px;


    --text-color1: #161f30;
    --text-color2: #6E6E73;
    --text-color3: #bbc0cc;
    --text-color4: #8f939e;

    --btn-color: #007AFF;
    --font-size-28: 28px;
    --font-size-20: 20px;
    --font-size-17: 17px;
    --font-size-14: 14px;
    --font-size-12: 12px;
    --box-shadow-basic: 2px 4px 12px rgba(0, 0, 0, .08);
    --box-shadow-hover: 2px 4px 16px rgba(0, 0, 0, .16);
    --th-color: rgb(245, 246, 250);
    --font-color-title: #212b40;
    --font-color-td: #3f4757;
    --padding: #040404;

    --font-size-lg: 2.5vw;
    --font-size-md: 1.5vw;
    --font-size-sm: 1vw;
    --font-size-xs: 0.5vw;

    --padding-size-lg: 2vw;
    --padding-size-md: 1.5vw;
    --padding-size-sm: 1vw;
    --padding-size-xs: 0.5vw;

    --margin-size-lg: 2vw;
    --margin-size-md: 1.5vw;
    --margin-size-sm: 1vw;
    --margin-size-xs: 0.5vw;

    --border-radius-B: 18px;
    --border-radius-B: 10px;
    --border-radius-S: 6px;
}

@font-face {
    font-family: 'SCDream1';
    src: url("/font/SCDream1.otf");
}

@font-face {
    font-family: 'SCDream2';
    src: url("/font/SCDream2.otf");
}

@font-face {
    font-family: 'SCDream3';
    src: url("/font/SCDream3.otf");
}

@font-face {
    font-family: 'SCDream4';
    src: url("/font/SCDream4.otf");
}

@font-face {
    font-family: 'SCDream5';
    src: url("/font/SCDream5.otf");
}

@font-face {
    font-family: 'SCDream6';
    src: url("/font/SCDream6.otf");
}

@font-face {
    font-family: 'SCDream7';
    src: url("/font/SCDream7.otf");
}

@font-face {
    font-family: 'SCDream8';
    src: url("/font/SCDream8.otf");
}

@font-face {
    font-family: 'SCDream9';
    src: url("/font/SCDream9.otf");
}

@font-face {
    font-family: 'Bebas';
    src: url("/font/BebasNeue-Regular.otf");
}

@font-face {
    font-family: 'Noto';
    src: url("/font/NotoSansKR-Regular.otf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body,
html {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

table {
    border-collapse: collapse;
    color: var(--text-color);
}

.wrapper {
    width: 100%;
    height: 100%;
    background: seagreen;
}

.top_bar {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--box-color);
    box-shadow: var(--box-shadow-hover);
}

.logo {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Bebas;
    font-size: var(--font-size-28);
    margin-left: var(--margin-size-xs);
}

.menu {
    width: calc(100% - 100px);
    display: flex;
    justify-content: flex-end;
    margin-right: var(--margin-size-xs);
}

.menu_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    font-size: var(--font-size-14);
    margin-left: var(--margin-size-xs);
}

.panel {
    width: 100%;
    height: calc(100% - 56px);
    background: var(--panel-color);
    display: flex;
    flex-wrap: wrap;
    padding: var(--padding-size-xs);
    font-family: 'SCDream4';
}

.title {
    width: calc(20% - 1vw);
    min-width: 250px;
    min-height: calc(25% - 1vw);
    background: var(--box-color);
    border-radius: 18px;
    margin: var(--margin-size-xs);
    box-shadow: var(--box-shadow-hover);
    padding: 0px 25px;
}

.title_top {
    width: 100%;
    height: 55px;
    line-height: 65px;
    font-size: var(--font-size-20);
    color: var(--text-color2);
    font-weight: 600;
    border-bottom: 1px solid var(--text-color3);
    display: flex;
}

.title_item {
    height: calc(100% - 55px - 20px);
    margin-top: 8px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title_bold {
    margin-top: 2px;
    margin-bottom: 2px;
    color: var(--text-color4);
    font-size: var(--font-size-14);
}

.title_text {
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 25px;
    font-family: SCDream7;
    color: var(--text-color2);
}

.card {
    width: calc(20% - 1vw);
    min-width: 250px;
    min-height: calc(25% - 1vw);
    background: var(--box-color);
    border-radius: 18px;
    margin: var(--margin-size-xs);
    box-shadow: var(--box-shadow-hover);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px;
}

.card_top {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-color3);
}

.machine {
    height: 55px;
    font-weight: 600;
    font-family: SCDream6;
    font-size: var(--font-size-20);
    color: var(--text-color2);
    display: flex;
    line-height: 65px;
}

.card_date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center !important;
    color: var(--text-color2);
}

.date_item {
    color: var(--text-color2);
    font-size: var(--font-size-12);
    letter-spacing: 1.6px;
}

.time_item {
    color: var(--text-color2);
    font-size: var(--font-size-12);
}

.value {
    height: calc(100% - 55px - 30px);
    /* -[card_top] - [value]margin*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.value_item {
    width: 50%;
    display: flex;
    align-items: center;
}

.end {
    justify-content: flex-end;
}

.status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.value_name {
    width: 60px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color4);
    margin-left: 3px;
}

.letter-spacing {
    letter-spacing: 1px;
}

.value_name2 {
    display: none;
}

.value_text {
    width: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--text-color2);
    font-weight: 600;
    margin-left: 3px;
}

.space_little {
    margin-right: 1px;
}

@media all and (min-width:1201px) and (max-width:1635px) {
    .title {
        min-width: auto;
        min-height: calc(20% - 1vw);
        padding: 0px 10px;
    }

    .title_top {
        font-size: var(--font-size-17);
        height: 45px;
        line-height: 55px;
    }

    .title_item {
        height: calc(100% - 45px - 20px);
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title_bold {
        margin-top: 2px;
        margin-bottom: 2px;
        color: var(--text-color4);
        font-size: 11px;
    }

    .title_text {
        margin-bottom: 2px;
        font-weight: 600;
        font-size: var(--font-size-17);
        font-family: SCDream7;
        color: var(--text-color2);
    }

    .card {
        width: calc(20% - 1vw);
        min-width: auto;
        min-height: calc(20% - 1vw);
        padding: 0px 10px;
    }

    .card_top {
        height: 45px;
    }

    .machine {
        height: 45px;
        font-size: var(--font-size-17);
        line-height: 53px;
    }

    .card_date {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        color: var(--text-color2);
    }

    .date_item {
        color: var(--text-color2);
        font-size: 10px;
        letter-spacing: 0px;
        font-weight: 600;
    }

    .time_item {
        color: var(--text-color2);
        font-size: 10px;
        font-weight: 600;
    }

    .value {
        height: calc(100% - 45px - 30px);
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .value_name {
        display: none;
    }

    .value_name2 {
        width: 40px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-color4);
        margin-left: 3px;
    }

    .value_text {
        width: 45px;
        font-size: 12px;
    }

}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:676px) and (max-width:1200px) {
    .panel {
        height: auto;
    }

    .title {
        width: calc(50% - 1vw);
        min-width: auto;
        min-height: calc(20% - 1vw);
        padding: 0px 25px;
    }

    .card {
        width: calc(50% - 1vw);
        min-width: auto;
        min-height: calc(20% - 1vw);
        padding: 0px 25px;
    }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width:675px) {
    .panel {
        height: auto;
    }

    .logo {
        width: 70px;
    }

    .menu {
        width: calc(100% - 70px);
    }

    .menu_item {
        font-size: 10px;
        font-weight: 600;
        font-family: SCDream4;
    }

    .title {
        min-width: calc(100% - 10px);
        min-height: calc(20% - 1vw);
        padding: 0px 30px;
        margin: 5px;
    }

    .title_top {
        font-size: var(--font-size-17);
        height: 45px;
        line-height: 55px;
    }

    .title_item {
        height: calc(100% - 45px - 20px);
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .title_bold {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 11px;
    }

    .title_text {
        margin-bottom: 0px;
        font-weight: 600;
        font-size: var(--font-size-17);
        font-family: SCDream7;
        color: var(--text-color2);
    }

    .card {
        min-width: calc(100% - 10px);
        min-height: calc(20% - 20px);
        padding: 0px 30px;
        margin: 5px;
    }

    .card_top {
        height: 45px;
    }

    .machine {
        height: 45px;
        font-size: var(--font-size-17);
        line-height: 51px;
    }

    .card_date {
        margin-top: 5px;
        color: var(--text-color2);
    }

    .date_item {
        color: var(--text-color2);
        font-size: 10px;
        letter-spacing: 0px;
        font-weight: 600;
    }

    .time_item {
        color: var(--text-color2);
        font-size: 10px;
        font-weight: 600;
    }

    .value {
        height: calc(100% - 45px - 30px);
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .value_name {
        display: none;
    }

    .value_name2 {
        width: 40px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-color4);
        margin-left: 3px;
    }

    .value_text {
        width: 45px;
        font-size: 12px;
    }
}